.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slow-spin {
  animation: 10s linear rotate;
  animation-iteration-count: 2;
}

.box {
  border-radius: 2px;
  width: 360px;
  padding: 8px;
  margin: auto;
  position: relative;
  background: white;
  border: 2px solid white;
  box-shadow: 0 2px 0 2px black, inset 0 2px 0 2px black, 0 0 0 2px black,
    inset 0 0 0 2px black;
}

#upper_left {
  position: absolute;
  top: 0;
  left: 0;
}
#upper_right {
  position: absolute;
  top: 0;
  right: 0;
}
#lower_left {
  position: absolute;
  bottom: 0;
  left: 0;
}
#lower_right {
  position: absolute;
  bottom: 0;
  right: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
